.root {
  display: flex;
  align-items: center;

  .select {
    width: 200px;
    margin-left: 10px;

    &:focus {
      outline: none;
    }

    :global {
      .react-select__control {
        border-radius: 3px;
        box-shadow: none;
        cursor: pointer;
        border: solid 1px #d7d8db;

        .react-select__value-container {
          padding: 0 15px;

          .react-select__single-value {
            color: #595959;
            margin: 0;
          }
        }

        .react-select__indicators {
          .react-select__indicator-separator {
            display: none;
          }

          .react-select__indicator {
            color: #9b9b9b;
            svg {
              width: 15px;
              height: 15px;
            }
          }
        }
      }

      .react-select__control--menu-is-open {
        border: solid 1px #6f8ce3;
        .react-select__indicator {
          transform: rotate(180deg);
        }
      }

      .react-select__menu {
        margin-top: 5px;
        box-shadow: 0 2px 6px 0 rgba(115, 115, 115, 0.12);
        border: solid 1px #e7e8ec;

        .react-select__menu-list {
          border-radius: 3px;

          .react-select__option {
            height: 36px;
            padding: 11px 16px 10px;
            cursor: pointer;
            display: flex;
            align-items: center;

            &:hover {
              background-color: #f5f6f7;
            }
          }

          .react-select__option--is-focused, .react-select__option--is-selected {
            background-color: white;
            color: #595959;
          }

          .react-select__option--is-selected::after {
            content: '✓';
            /* content: url(''); */
            color: #6f8ce3;
            margin-left: auto;
          }
        }
      }
    }
  }
}
