.root {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  border-radius: 3px;
  overflow: hidden;


  li {
    display: flex;
    border: solid 1px #d7d8db;

    &:first-child {
      border-right: 0;
    }

    &:last-child {
      border-left: 0;
    }

    &.active {
      background-color: #6f8ce3;
      color: white;
      border: none;
    }

    label {
      width: 160px;
      text-align: center;
      padding: 11px 0 10px;
      cursor: pointer;

      input {
        display: none;
      }
    }
  }
}

@media (width <= 568px) {
  .root {
    li {
      label {
        width: 110px;
      }
    }
  }
}
