.root {
  width: calc(33.3% - 30px);
  border-radius: 3px;
  background-color: #ffffff;
  margin: 15px 0 15px 30px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 17px;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #595959;

  &:hover {
    box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;

    .imageArea {
      .like {
        visibility: visible;
      }
    }
  }
}

.imageArea {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  position: relative;
  min-height: 80px;

  img {
    height: 100%;
    width: 100%;
  }

  .like, .liked {
    padding: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    border: none;
    margin: 21px 18px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .like {
    background: url(./assets/icons/heart-o.svg) round;
    visibility: hidden;
  }
  .liked {
    background: url(./assets/icons/heart.svg) round;
  }

  .isNew {
    position: absolute;
    right: 0;
    width: 0;
  	height: 0;
  	border-top: 60px solid #fff3f3;
  	border-bottom: 60px solid transparent;
  	border-left: 60px solid transparent;

    span {
      transform: rotate(45deg);
      display: block;
      position: absolute;
      top: -46px;
      right: 6px;
      font-size: 12px;
      letter-spacing: 0.2px;
      color: #d0021b;
    }
  }
}

.data {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.info {
  margin-left: 15px;
  flex-grow: 1;
  max-width: calc(100% - 76px);

  .title, .description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .title {
    font-weight: 500;
  }

  .description {
    letter-spacing: 0.2px;
    color: #656565;
    font-size: 12px;
    margin-top: 2px;
    font-weight: 300;
  }
}

.price {
  margin-right: 19px;
}


@media (width < 768px) {
  .root {
    width: 45%;
    margin: 15px;
  }
}

@media (width <= 568px) {
  .root {
    width: 90%;
    margin: 10px auto;
  }
}
