.root {
  color: #ffffff;
  background-color: #6f8ce3;
  border-radius: 3px;
  width: 280px;
  padding: 16px 0;
  display: flex;
  margin: 0 auto 40px;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-size: 14px;

  &:active {
    outline: none;
  }
}
