.root {
}

.title {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
  color: #595959;
  margin: 34px 0;
}

.filters {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 20px 62px 25px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #656565;
  position: sticky;
  top: 0;
  z-index: 1;
}

.filtersWithShadow {
  composes: filters;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 62px 40px 32px;
}


@media (width < 768px) {
  .filters {
    flex-wrap: wrap;
    padding: 24px 20px;

    ul {
      margin-bottom: 8px;
    }
  }

  .items {
    padding: 0 4px 40px;
    justify-content: space-between;
  }
}

@media (width <= 568px) {
  .filters {
    justify-content: center;
  }
}
