@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,900');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #f4f5f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
